@model IEnumerable<WebApplication8.Models.Product>

<h2>Products List</h2>

<!-- Варіант відображення 1: Список -->
<ul>
    @foreach (var product in Model)
    {
        <li>@product.ID. @product.Name – @product.Price$ (@product.CreatedDate.ToShortDateString())</li>
    }
</ul>

<!-- Варіант відображення 2: Таблиця -->
<h2>Products Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.CreatedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
